<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="./style.css" rel="stylesheet" type="text/css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./inbox.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="mentorshipApp">

    <nav class="navbar nav-fixed-top">
        <div class="row text-center" style="margin-left: 10%">
            <a class="navbar-brand active" href="/home">
                <h4>Mentoring</h4>
            </a>
            <div class="col-lg-1 nav-item">
                <a href="/home">
                    <h6>Home</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/mentee">
                    <h6>Find Mentors</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/mentor">
                    <h6>Find Mentees</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/profile">
                    <h6>Profile</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/inbox">
                    <h6>Inbox</h6>
                </a>
            </div>

            <div class="col-lg-5 text-right">
                <a href="/logout">
                    <button class="btn navbtn" type="submit">Log Out</button>
                </a>
            </div>
        </div>
    </nav>


    <div class="messaging" ng-controller="userController">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" ng-model="search" class="search-bar" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="inbox_chat scroll">
                    <div ng-click="newMessage()">
                        <div ng-if="selectedmessages !== undefined" class="chat_list">
                            <div class="chat_people">
                                <div class="chat_img"> <img
                                        src="https://mentorshipgroup2.herokuapp.com/image/profile.png" alt="avatar"
                                        style="visibility:hidden"> </div>
                                <div class="chat_ib">
                                    <h5>New User <span class="chat_date"></span></h5>
                                    <input type="text" placeholder="Username" ng-model="$parent.newUser">
                                </div>
                            </div>
                        </div>
                        <div ng-if="selectedmessages === undefined" class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img"> <img
                                        src="https://mentorshipgroup2.herokuapp.com/image/profile.png" alt="avatar"
                                        style="visibility:hidden"> </div>
                                <div class="chat_ib">
                                    <h5>New User <span class="chat_date"></span></h5>
                                    <input type="text" placeholder="Username" ng-model="$parent.newUser">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="account in accounts | filter: search" ng-click="getMessages(account)">
                        <div ng-if="account==selectedmessages" class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img"> <img
                                        src="https://mentorshipgroup2.herokuapp.com/image/profile.png" alt="avatar">
                                </div>
                                <div class="chat_ib">
                                    <h5>{{account}}<span class="chat_date">Date</span></h5>
                                </div>
                            </div>
                        </div>
                        <div ng-if="account!=selectedmessages" class="chat_list">
                            <div class="chat_people">
                                <div class="chat_img"> <img
                                        src="https://mentorshipgroup2.herokuapp.com/image/profile.png" alt="avatar">
                                </div>
                                <div class="chat_ib">
                                    <h5>{{account}}<span class="chat_date">Date</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <div ng-repeat="message in messages">
                        <div ng-if="message.to==currentUser.username" class="incoming_msg">
                            <div class="incoming_msg_img"> <img
                                    src="https://mentorshipgroup2.herokuapp.com/image/profile.png" alt="avatar"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{message.message}}</p>
                                    <span class="time_date"> Date </span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="message.to!=currentUser.username" class="outgoing_msg">
                            <div class="sent_msg">
                                <p>{{message.message}}</p>
                                <span class="time_date"> Date </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" ng-model="message" ng-keydown="$event.keyCode === 13 && !sent && sendMessage()" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"
                                ng-click="!sent && sendMessage() "></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="footer">
        <div id="about-us-footer">
            <h5>About Us</h5>
            <p style="font-size:small;">
                Find the perfect mentor for any subject or expand your teachings with more mentees with Mentoring..
            </p>
        </div>
        <div id="contact-us-footer">
            <h5>Contact Us</h5>
            <p style="font-size:small">
                Email: info@mentoring.com
                Phone: 1-800-MTOR
            </p>
        </div>
        <div style="float:left;">
            <!-- Add font awesome icons -->
            <h4>Mentoring</h4>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </div>
    </section>
    <script src="./angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/factories/userFactory.js"></script>
    <script src="/js/controllers/userController.js"></script>
</body>

</html>