<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mentoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="mentorshipApp">
    <nav class="navbar nav-fixed-top">
        <div class="row text-center" style="margin-left: 10%">
            <a class="navbar-brand active" href="/home">
                <h4>Mentoring</h4>
            </a>
            <div class="col-lg-1 nav-item">
                <a href="/home">
                    <h6>Home</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/mentee">
                    <h6>Mentee</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/mentor">
                    <h6>Mentor</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/community">
                    <h6>Community</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/profile">
                    <h6>Profile</h6>
                </a>
            </div>
            <div class="col-lg-1 nav-item">
                <a href="/inbox">
                    <h6>Inbox</h6>
                </a>
            </div>

            <div class="col-lg-5 text-right">
                <a href="/logout">
                    <button class="btn navbtn" type="submit">Log Out</button>
                </a>
            </div>
        </div>
    </nav>
    <div class="container col-lg-6 profile" ng-controller="userController">
        <div class="text-center">
            <h1>{{currentProfile.username}}</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="text-left">
                    <h4>Name</h4>
                    <h2>{{currentProfile.firstName}} {{currentProfile.lastName}} <a ng-href="/inbox?name={{currentProfile.username}}"><img src="/image/mail.png"/ style="width:30px;height:30px;"></a></h3>

                    <div class="row col-lg-9">
                    </div>
                    <br>
                    <h4>Interests</h4>
                    <h5 ng-repeat="interest in currentProfile.menteeinterests">{{interest}}</h5>
                    <br>
                    <h4>Bio</h4>
                    <h5>{{currentProfile.bio}}</h5>
                    <br>
                    <h4>Friends</h4>
                    <h5 ng-repeat="friend in currentProfile.friends">{{interest}}</h5>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../image/profile.png">
            </div>
        </div>
    </div>
    <script src="../angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/factories/userFactory.js"></script>
    <script src="/js/controllers/userController.js"></script>
</body>

</html>