.btn {
    color: #4a7ed3;
    border-color: #4a7ed3;
    background-color: transparent;
    border-radius: 0;
    font-size: 18px;
}
.navbtn {
    float: right;
    margin-right: 10vw;
}
.btn:hover {
    color: #295399;
    border-color: #295399;
    cursor: pointer;
}
.navbar {
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
}
.banner {
    width: 100%;
    height: 96vh;
}
.nav-item {
    padding-top: 12px;
}
.create-contest, .profile, .contest, .contest-join, .post {
    padding-top: 40px;
}
.create-contest > h1, h2, h3, h4, h5, h6, p, label {
    color: #4a7ed3;
}
.dropdown {
    height: 40px;
    border-radius: 4px;
    border-color: lightgray;
    width: 100%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#img-upload{
    width: 100%;
}
#problem5 {
    display: none;
}
#problem6 {
    display: none;
}
#problem7 {
    display: none;
}
#problem8 {
    display: none;
}
#problem9 {
    display: none;
}
#problem10 {
    display: none;
}

.card-body {
    padding: 20px 30px 20px 30px;
}
.contest-join img, .home button {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%)
}
.home button {
    margin-top: 20vh;
}
.special {
    font-size: large;
    border-width: 3px;
}
.signup {
    font-size: large;
    border-width: 1px;
    padding: 10px 30px 10px 30px;
}
.signupMove {
    margin-top: -140vh;
}
p {
    font-size: x-large;
}
.text {
    margin-top: -220px;
}
.move {
    margin-top: -145vh;
    border-color: transparent;
    font-size: x-large;
}
.move:hover {
    border-color: transparent;
    color: #4a7ed3;
    cursor: default;
}
#homepageAbout {
    font: 12pt;
    border: 1px solid #4a7ed3;
    padding: 30px;
    width: 650px;
    float: left;
} 
#map {
    margin-right: 15%;
    height: 461px;  /* The height is 400 pixels */
    width: 650px;  /* The width is the width of the web page */
    float: right;
    padding: 30px;
    border: 0px;
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    border: 0px;
    padding: 15px 0 5px 0;
    background-color: #f7f7f7;
    width: 100%;
    align-content:center;
    display:table-row;
}

.header{
    border:0px;
    position: fixed;
    display: table-row;
    width:100%;
}

.content{
    border:0px;
    position: fixed;
    display:table-row;
    width: 100%;
}

/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  #menteeTable{
    font: 12pt;
    width: 650px;
    float: left;
    height: 461px;
    margin-right: 10%;
    background: white;
  }

  #menteeProfile{
    margin-right: 15%;
    height: 420px;  /* The height is 400 pixels */
    width: 650px;  /* The width is the width of the web page */
    float: right;
    padding: 40px;
    background: white;

  }

  #createAnEvent{
    border: 1px solid #4a7ed3;
    margin-right: 15%;
    height: 250px;  /* The height is 400 pixels */
    width: 1375px;
    float: left;
    padding: 30px;
  }

  #about-us-footer{
    width:250px;
    float:left;
    margin-left:30%;
    text-align:justify;
    padding-right:30px;
  }

  #contact-us-footer{
    width:200px;
    float:left;
    text-align:left
  }